@font-face {
    font-family: Prompt;
    src: url(../font/Prompt/Prompt-Regular.ttf);
}



/* color

#27374D 
#526D82 
#9DB2BF 
#DDE6ED  
*/


body {
    font-family: Prompt;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #DDE6ED !important;


}

a {
    text-decoration: none;

}

/* Header */
section.Header {
    position: sticky;
    top: 0;
    z-index: 999;

    .navbar {
        background-color: #27374D !important;

        .navbar-brand {
            color: #fff;

            &:hover {
                color: #DDE6ED;
                transform: scale(1.05);
            }
        }

        .nav-item {
            .nav-link {
                color: #fff;
            }

            .nav-link:after {
                display: block !important;
                content: '';
                border-bottom: solid 3px #fff !important;
                transform: scaleX(0) !important;
                transition: transform 250ms ease-in-out !important;
            }

            .nav-link:after {
                transform-origin: 50% 0% !important;
            }

            .nav-link:hover:after {
                transform: scaleX(1) !important;
                transform-origin: 50% 100% !important;
            }
        }
    }
}

.mx1440 {
    width: 100%;
    max-width: 1440px;
}

/* Header */


section.Content {
    width: 98%;
    max-width: 1600px;
    border: 0;
    border-radius: 15px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
    margin: 15px auto;
    background-color: #fff;
    padding: 15px;
    color: #27374D;

    >section {
        margin: 15px 0;
        line-height: 1.5;

    }

    #position {
        color: #526D82;
    }

    section.personal-information {
        .row {
            justify-content: space-between;
        }



        .contact {




            h4 {

                text-align: right;
                width: fit-content;
                margin-left: auto;

                a {

                    color: #27374D;
                }

                a:after {
                    display: block;
                    content: '';
                    border-bottom: solid 3px #27374D;
                    transform: scaleX(0);
                    transition: transform 250ms ease-in-out;
                }

                a:after {

                    transform-origin: 0% 50%;
                }

                a:hover:after {
                    transform: scaleX(1);
                    transform-origin: 100% 50%;
                }

            }
        }
    }

    section.education {

        .card {
            border-radius: 7px !important;
            transform: scale(1.0) !important;
            transition: transform .2s ease-in-out !important;

            img {
                border-radius: 7px 7px 0px 0px;
            }

            .title {
                padding: 0 2%;
                margin: 2% 0;

                .university {
                    color: #526D82;
                }
            }

            &:hover {
                transform: scale(1.02) !important;
                transition: transform .2s ease-in-out !important;
            }


        }
    }

    section.work-experience {
        .row {
            .card {
                .title {
                    padding: 0 15px;
                    margin: 15px 0;
                }
            }
        }
    }

    section.project {
        .card {
            padding: 15px 15px;
            margin: 15px auto;
            width: 100%;
            transform: scale(1);
            transition: all .3s ease-in-out;

            cursor: pointer;

            &:hover {

                transform: scale(1.01);
                box-shadow: 1px 1px 8px rgba(0, 0, 0, .2);
                transition: all .3s ease-in-out;
            }
        }
    }
}

/* Footer */
section.Footer {
    /* position: sticky; */
    font-size: 16px;
    bottom: 0;
    padding: 15px 15px;
    background: #27374D;
    width: 100%;
    color: white;
    text-align: center;

    a {
        color: #fff;
    }

}

/* Footer */

/* Responsive */
@media only screen and (max-width:900px) {
    section.Content {
        h1 {
            font-size: calc(1.375rem + 1.3vw);
        }
    }

    h3 {
        font-size: 24px !important;
    }

    h4 {
        font-size: 20px !important;
    }

    section.personal-information {
        .contact {
            h4 {
                text-align: left !important;
            }


        }
    }
}

@media only screen and (max-width:700px) {
    section.Content {
        h1 {
            font-size: calc(1.375rem + 1.2vw);
        }


        h2 {
            font-size: calc(1.3rem + 1vw);
        }
    }

    h3 {
        font-size: 22px !important;
    }

    h4 {
        font-size: 16px !important;
    }

    section.personal-information {
        .contact {
            h4 {
                margin-left: 0 !important;
                text-align: left !important;
            }
        }
    }

    section.education {

        .card {
            margin-top: 15px;
        }
    }
}

/* Responsive */
.hightlight-red {
    color: rgb(146, 0, 0);
}

#card-more {
    cursor: pointer;
}

.modal-more {
    .modal-dialog {
        margin: 15px auto;
        max-width: 1000px;
        width: 90%;
    }
}